@import "core/variables";

.page {
  margin: 0px;
  padding: 30px;
  &__title {
    font-family: $font-family-primary;
    font-size: 40px;
    margin-bottom: 30px;
    color: white;
    &--container {
      height: 100px;
      background-color: $color-black;
      margin-bottom: 20px;
      padding-top: 10px;
      padding-left: 50px;
      border-radius: 10px;
    }
  }
  &__search--film {
    width: 500px;
    height: 40px;
    padding-left: 15px;
    font-size: 20px;
    border-bottom: 2px solid black;
  }
  &__search--button {
    width: 100px;
    height: 45px;
    box-sizing: border-box;
    font-family: $font-family-primary;
    background-color: $color-button;
    color: $color-white;
    font-size: 24px;
    margin-left: 15px;
    cursor: context-menu;
  }
  &__form {
    display: flex;
    justify-content: center;
  }
  &__main {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    height: 100vh;
  }
  &__favorites__films {
    width: 40%;
    padding-left: 0;
  }
  &__results {
    list-style: none;
    width: 60%;
    padding-left: 0;
    cursor: copy;
    display: flex;
    flex-wrap: wrap;
    &--list {
      background-color: $color-background-films;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 30px 20px 20px 20px;
      width: 200px;
      height: 350px;
      margin-bottom: 20px;
      margin-right: 20px;
    }
    &--name {
      color: $color-title-film;
      font-family: $font-family-primary;
      font-size: 24px;
      text-align: center;
    }
    &--image {
      width: 170px;
    }
  }
}

// FAVORITOS

.container-favs--title {
  font-family: $font-family-primary;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 50px;
}

.page__favorites__films {
  list-style: none;
  border-right: 1px solid rgb(187, 186, 186);
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
  &--image {
    height: 190px;
    margin-bottom: 5px;
  }
  &--name {
    color: $color-white;
    font-family: $font-family-primary;
    font-size: 16px;
    text-align: center;
  }
  &--item {
    background-color: $color-black;
    width: 150px;
    height: 300px;
    padding: 15px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 50px;
  }
  &--btn {
    background-color: $color-white;
    color: $color-black;
    border-radius: 50%;
    margin-left: 80%;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
  }
}

.film--is--favorite {
  background-color: $color-button;

  .page__results--name {
    color: $color-background-films;
    &::before {
      content: " ❤︎ ";
      font-size: 24px;
      color: $color-background-films;
    }
  }
}
