<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Evaluación final M2 :: Ana Montiaga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.png" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body class="page">
    <h1 class="page__title">Buscador de series</h1>
    <form action="" class="page__form">
      <input class="page__search--film" type="text" />
      <button class="page__search--button">Search</button>
    </form>
    <main class="page__main">
      <ul class="page__favorites__films"></ul>
      <ul class="page__results"></ul>
    </main>
    <script src="assets/js/main.js"></script>
  </body>
</html>
