// Colors
$color-button: #a00957;
$color-white: #ffffff;
$color-background-films: pink;
$color-title-film: rgb(96, 39, 48);
$color-black: #000000;

// Fonts
$font-family-primary: "Open Sans", sans-serif;
